[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group Leeco zl1 Maintainers
	push = group Leeco zl1 Maintainers
	pushMerge = group Leeco zl1 Maintainers
	label-Code-Review = -2..+2 group Leeco zl1 Maintainers
	label-Verified = -1..+1 group Leeco zl1 Maintainers
	submit = group Leeco zl1 Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Leeco zl1 Maintainers
